
<div class="container devices-content">

  <div class="row">
    <div ng-repeat="device in devices">
      <div class="col-sm-4 u-txtCenter u-mbm">
        <p class="txtM u-txtCenter u-txtUpper">{{device.name}}</p>
        <div class="img-container">
          <img tyle="vertical-align" class="img-center u-mbs" ng-src="{{device.icon}}"/>
        </div>

        <div ng-show="{{device.type == 'light'}}">

          <lightaction ng-click="lightCtrl.togglePower(device.id)" class="button button--ghost u-txtUpper">ON / OFF</lightaction>


          <div class="u-mts">
            <input ng-model="brightness" ng-change="brightnessCtrl.setBrightness(brightness)" class="brightness" type="range" min="0" max="255" />

          </div>

        </div>

        <div ng-show="{{device.type == 'plug'}}">

          <wemo ng-click="wemoCtrl.togglePower()" class="button button--ghost wemoaction"> ON / OFF</wemo>

        </div>

      </div>
    </div>






  </div> <!-- row -->
</div>
